/* Estilos generales para el contenedor */
.container {
  margin: 0;
  padding: 0 0 25px 0;
  background: #2e7d32; /* Color que recuerda la pista de pádel */
  font-family: Arial, sans-serif;
  color: #fff5e9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%; /* Para ocupar toda la ventana, puedes ajustar este valor */
}

/* Estilos del mensaje de error */
.error-message h1 {
  font-size: 8rem;
  margin: 0;
}
.error-message p {
  font-size: 1.5rem;
  margin: 10px 0;
}

/* Contenedor de la animación */
.animation {
  margin-top: 20px;
  position: relative;
  width: 300px;
  height: 200px;
  border: 2px dashed #fff5e9;
  border-radius: 10px;
  overflow: hidden;
}


/* Estilo de la pala (paddle) */
.paddle {
  height: 100%;
  background-image: url("https://set-solution.com/cdn/shop/files/HEAD-EXTREMEPRO-COELLO.webp?v=1731261164");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 150px;
  background-position-x: 75px;
  background-position-y: 30px;
  animation: paddleSwing 2s infinite ease-in-out;
}

/* Estilo de la pelota */
.ball {
  position: absolute;
  bottom: 120px;
  left: 50%;
  width: 20px;
  height: 20px;
  background-color: yellow;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
  transform: translateX(-50%);
  animation: ballBounce 2s infinite ease-in-out;
}

@keyframes ballBounce {
  0% {
    transform: translateX(-50%) scale(1);
    left: 150px;
  }
  16.6% {
    transform: translateX(-50%) scale(1.5);
  }
  33% {
    transform: translateX(-50%) scale(1);
    left: 100px;
  }
  50% {
    transform: translateX(-50%) scale(2);
  }
  66% {
    transform: translateX(-50%) scale(1);
    left: 200px;
  }
  83% {
    transform: translateX(-50%) scale(1.5);
  }
  100% {
    transform: translateX(-50%) scale(1);
    left: 150px;
  }
}
@keyframes paddleSwing {
  0% {
    transform: translateX(0%) scale(1);
    background-position-x: 75px;
  }
  16.6% {
    transform: translateX(0%) scale(1);
  }
  33% {
    transform: translateX(0%) scale(1);
    background-position-x: 25px;
  }
  50% {
    transform: translateX(0%) scale(1);
  }
  66% {
    transform: translateX(0%) scale(1);
    background-position-x: 125px;
  }
  83% {
    transform: translateX(0%) scale(1);
  }
  100% {
    transform: translateX(0%) scale(1);
    background-position-x: 75px;
  }
}
