<div id="galeria">
    <div id="menu_lateral">
        <ul>
            <li *ngFor="let categoria of categorias"
                (click)="mostrarIdCatagoria(categoria.id, categoria.nombreCarpeta)">{{categoria.categoria}}</li>
        </ul>
    </div>

    <div class="images_container">
        <div *ngFor="let image of galeriaFiltrada(categoriaSeleccionada)">
            <div>
                <div><a target="_blank" [href]="'imgs/gallery/' + nombreCarpeta + '/' + + image.nombre"></a></div>
                <img [src]="'imgs/gallery/' + nombreCarpeta + '/' + image.nombre">
            </div>
        </div>
    </div>
</div>