div#galeria {
  border: 2px solid black;
  background-color: var(--white);
  display: grid;
  grid-template-columns: 45% 50%;

  & #menu_lateral {
    padding: 10px;
    display: flex;
    justify-content: center;
    margin-top: 230px;

    /* Menú principal */
    & > ul {
      width: 400px;
      padding: 10px;
      list-style: none;

      & > li {
        background-color: var(--dark-green);
        color: var(--white);
        border: 1px solid var(--white);
        padding: 10px 5px 10px 15px;
        position: relative;
        transition: background-color 0.3s ease;
        cursor: pointer;
      }
    }
  }

  & .images_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    > div {
      border: 1px solid black;
      background-color: white;
      margin: 20px;
      width: 270px;
      height: 200px;

      & > div {
        background-color: rgba(255, 255, 255, 0);
        position: absolute;
        width: 270px;
        height: 200px;
        transition: background-color 1s;

        &:hover {
          background-color: rgba(255, 255, 255, 0.4);
        }

        & a {
          display: block;
          /* background-color: coral; */
          width: 100%;
          height: 100%;
        }
      }

      & img {
        display: block;
        width: 100%;
        height: 100%;
      }
    }
  }
}
