<div id="galeria">
    <div id="menu_lateral">
        <ul>
            <li *ngFor="let categoria of categorias"
                (click)="mostrarIdCatagoria(categoria.id, categoria.nombreCarpeta)">{{categoria.categoria}}</li>
        </ul>
    </div>

    <div class="images_container">
        <div *ngFor="let image of galeriaFiltrada(categoriaSeleccionada)">
            <img [src]="'https://borja.com.es/ProyectoDosDAW/api_backend/public/imgs/galeria/' + nombreCarpeta + '/' + image.nombre">
        </div>
    </div>
</div>