<div id="containerFooter">
    <h2>DREAM PÁDEL QUART</h2>
    <div class="enlaces">
        <div> <!-- Redirige a Contacto -->
            <a routerLink="">Consulta con nosotros</a>
        </div>
        <div><!-- Redirige a Iniciar Sesión de un usuario -->
            <a routerLink="">ACCESO USUARIO</a>
            <div class="arrow"><img src="imgs/flecha-derecha.png" alt="Flecha"></div>
        </div>
    </div>

    <!--  -->
    <div class="container-info">
        <div id="horario">
            <h3>Horario</h3>
            <p>Lun - Vie : 9:00 - 23:30</p>
            <p>Sab : 9:00 - 22:00</p>
            <p>Dom : Cerrado</p>
        </div>
        <div id="contacto">
            <h3>Contacto</h3>
            <p>Teléfono: 678 737 555 | 607 367 494</p>
            <p>Correo: info&#64;dreampadel.com</p>
        </div>
        <div id="redesSociales">
            <h3>Redes Sociales</h3>
            <p>
                <a href="https://www.instagram.com/dreampadelquart/" target="_blank"><img
                        src="imgs/Social_Network/instagram.png" alt="instagram"></a>
                <a href="https://www.facebook.com/DreamPadel/?locale=es_ES" target="_blank"><img
                        src="imgs/Social_Network/facebook.png" alt="facebook"></a>
                <a href="https://x.com/dreampadel" target="_blank"><img src="imgs/Social_Network/twitter.png"
                        alt="twitter"></a>
            </p>
        </div>
        <div id="dondeEstamos">
            <h3>Donde estamos</h3>
            <p>Av. del Mediterrani, 6, 46930 Quart de Poblet, Valencia</p>
            <iframe id="mapaGoogleMaps"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d383.97579597726036!2d-0.4415400099063224!3d39.47838560737594!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd604ffa7a473bf7%3A0x6f540d5379374a31!2sDREAM%20PADEL%20QUART%2CSL!5e1!3m2!1ses!2ses!4v1740664507167!5m2!1ses!2ses"
                width="500" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</div>