<div id="navbar">
    <div>Dream Pádel Quart</div>
    <div id="logo"><a routerLink="home"><img src="https://borja.com.es/ProyectoDosDAW/imgs/logos/logo2.png" alt="Logo de Dream Pádel Quart"></a></div>
    <div id="menuPrincipal">
        <ul>
            <li><a routerLink="partidas">Partidas</a></li>
            <li><a routerLink="tarifas">Tarifas</a></li>
            <li><a routerLink="galeria">Galería</a></li>
            <li><a routerLink="contacto">Contacto</a></li>
            <li *ngIf="sesionIniciada() == true">
                <a routerLink="areaJugador">Área Jugador</a>
            </li>
            <li *ngIf="sesionIniciada() == true">
                <a routerLink="home" (click)="cerrarSesion()">Cerrar Sesión</a>
            </li>
            <li *ngIf="sesionIniciada() == false">
                <a routerLink="login">Area Jugador</a>
            </li>
        </ul>
    </div>
</div>