/* Estilos base para pantallas grandes */
div#navbar {
  background-color: #112a16;
  max-width: 1920px;
  height: 116px;
  color: var(--blanco-roto);
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
}

div#navbar div:nth-child(1) {
  font-size: 30px;
}

div#logo {
  width: max-content;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}

div#navbar div:nth-child(2) a,
div#navbar div:nth-child(2) img {
  display: block;
}

div#navbar div:nth-child(2) img {
  width: 130px;
}

/* Menú principal */
div#menuPrincipal {
  position: absolute;
  right: 20px;
  top: 40px;
}

div#menuPrincipal > ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

div#menuPrincipal > ul li {
  padding: 10px 15px;
  margin: 0 10px;
}

div#menuPrincipal > ul li a {
  text-decoration: none;
  color: var(--blanco-roto);
}

/* Tablets en vertical (max-width: 1024px) */
@media (max-width: 1024px) {
  /* Disposición vertical */
  div#navbar {
    flex-direction: column;
    align-items: center;
    height: auto;
    padding: 15px 20px;
  }
  div#navbar div:nth-child(1) {
    font-size: 35px;
    position: static;
    margin-bottom: 20px;
  }
  /* Logo en flujo natural */
  div#logo {
    position: static;
    transform: none;
    margin-bottom: 10px;
  }
  /* Menú vertical */
  div#menuPrincipal {
    position: static;
    width: 100%;
    margin-top: 10px;
  }
  div#menuPrincipal > ul {
    flex-direction: row;
    align-items: center;
    width: max-content;
    margin: 0 auto;
  }
  div#menuPrincipal > ul li {
    padding: 10px;
    margin: 5px 5px;
  }
}

/* Móviles en vertical (max-width: 1024px) */
@media (max-width: 768px) {
  /* Disposición vertical */
  div#navbar {
    flex-direction: column;
    align-items: center;
    height: auto;
    padding: 15px 20px;
  }
  div#navbar div:nth-child(1) {
    font-size: 24px;
    margin-bottom: 15px;
  }
  /* Logo en flujo natural */
  div#logo {
    transform: none;
    margin-bottom: 10px;
  }
  /* Menú vertical */
  div#menuPrincipal {
    width: 100%;
    margin-top: 10px;
  }
  div#menuPrincipal > ul {
    flex-direction: row;
    align-items: center;
    width: max-content;
    margin: 0 auto;
  }
  div#menuPrincipal > ul li {
    padding: 10px;
    margin: 5px 0;
  }
}
