/* You can add global styles to this file, and also import other style files */
:root {
  --dark-green: #112A16;
  --light-green: #61A174;
  --light-pink: #F6988F;
  --off-white: #FFEAD4; /* Blanco roto (Blanquecino) */
  --white: #FFF5E9;
  --black: #000000;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}
